@model IEnumerable<MarketProject.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomerTelpon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlamatUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomerTelpon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlamatUser)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUser"><i class="fas fa-pen"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdUser"><i class="fas fa-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUser"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
